html {
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, Helvetica Neue, Arial;
  color: #4d4d4d;
  margin: 0 20%;
  width: auto;
  line-height: 0;
  background-color: #555555;
}
.app {
  position: relative;
}
