.top {
  height: 40px;
  margin: 15px 0 15px 0;
  position: relative;
}
.top__index {
  line-height: 38px;
  font-size: 20px;
  background-color: #eeeeee;
  padding: 0 10px;
  color: #4d4d4d;
  text-decoration: none;
  margin: 0 0 20px 25px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
}
.top__filterBy {
  position: absolute;
  text-align: right;
  right: 25px;
  top: 20px;
  height: 30px;
  width: 200px;
  transform: translate(0, -50%);
  outline: none;
}
